/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}

/* Estilo para o título principal */
h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para os subtítulos */
h2, h3 {
    color: #1e6696;
}

/* Estilo para parágrafos */
p {
    line-height: 1.6;
    color: #263544;
}

/* Estilo para listas */
ul {
    list-style-type: square;
    margin-left: 20px;
}

/* Estilo das imagens */
img {
    display: block;
    margin: 10px auto; /* Centraliza as imagens */
    border-radius: 8px; /* Bordas arredondadas nas imagens */
}

/* Estilo dos botões */
button {
    background-color: #118140; /* Cor de fundo verde */
    color: rgba(255, 255, 255, 0.603); /* Texto branco */
    border: none; /* Sem borda */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
}

button:hover {
    background-color: #219653; /* Cor do botão ao passar o mouse */
}

/* Estilo do rodapé */
footer {
    text-align: center;
    margin-top: 20px;
}